#splash-screen {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
  background: #1F1F1F;
  visibility: collapse;
  opacity: 0;
}

#splash-logo {
  max-width: 100%;
  width: 250px;
  position: relative;
  top: calc(50% - 100px / 2);
}

@keyframes splash {
  10% { opacity: 0; visibility: visible; }
  25% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}